@font-face {
  font-family: "Chunky Retro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Chunky Retro Regular"),
    url("ChunkyRetro-6YmnD.woff") format("woff");
}

/* NeueHaasDisplay */

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Bold.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-BlackItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Black.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-BoldItalic.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Mediu.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Mediu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Light.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-LightItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-ThinItalic.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-RomanItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-RomanItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-MediumItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-Thin.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-XThin.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-XThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-XXThinItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-XXThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-XXThin.woff2") format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-XXThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("./NeueHaasDisplay/NeueHaasDisplay-XThinItalic.woff2")
      format("woff2"),
    url("./NeueHaasDisplay/NeueHaasDisplay-XThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
